html {
    padding-top: 25px;
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}



#main {
    width: 90%;
    height: 80%;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background-color: rgb(253, 248, 171);
    align: center;
}

#code {
    height: 100%;
    display: block;
    flex-direction: column;
}

#textcode {
    padding: 0px;
    height: 100%;
    overflow: auto;
    background-color: #aa0011;
}

textarea[name=row_code] {
    width: 100%;
    height: 100%;
    resize: none;
}


#view_code {
    height: 100%;
    width: 100%;
    overflow: auto;
    flex: 1;
    color: blue;
}

#text_code {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#knopka {

}



.hlss{
    color: red;
}

.hlkwq{
    color: green;
}

.hlkw{
    color: red;
}

.hlr{
    color: green;
}

.hlq{
    color: black;
}
